SERVER_PORT=8080
POSTGRES_HOST=localhost:5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
JWT_SECRET=secretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecret
JWT_EXPIRATION=86400000
KAFKA_HOST=localhost:9092
