server:
  port: ${SERVER_PORT:8080}
  error:
    include-stacktrace: never

spring:
  application:
    name:
      abysscore
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:localhost:5432}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    open-in-view: true
  jackson:
    default-property-inclusion: NON_NULL
    property-naming-strategy: SNAKE_CASE
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

logging:
  level:
    root: warn
    org.springframework: warn
    com.intezya.abysscore: debug


jwt:
  secret: ${JWT_SECRET:}
  expirationMinutes: ${JWT_EXPIRATION_MINUTES:1440} # 1440
  issuer: ${JWT_ISSUER:com.intezya.security}

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  writer-with-default-pretty-printer: true
  writer-with-order-by-keys: false

kafka:
  bootstrap:
    servers: ${KAFKA_HOST:localhost:9092}

abysscore:
  match-invite:
    active-diff-seconds: ${MATCH_INVITE_ACTIVE_DIFF_SECONDS:15}
