#file: noinspection SpringBootApplicationYaml
server:
  port: ${SERVER_PORT:8080}
  error:
    include-stacktrace: never
  websocket:
    session:
      timeout: 30000

spring:
  application:
    name:
      abysscore
  config:
    import: optional:file:.env[.properties]
  datasource:
    url: jdbc:postgresql://${DATABASE_HOST:localhost:5432}/${DATABASE_DB}?allowMultiQueries=true
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  data:
    jpa:
      repositories:
        enabled: true
  jpa:
    open-in-view: true
  #    properties:
  #      hibernate:
  #        format_sql: true
  #        generate_statistics: true
  #        jdbc:
  #          batch_size: 100
  #          fetch_size: 1000
  #    show-sql: true
  jackson:
    default-property-inclusion: NON_NULL
    property-naming-strategy: SNAKE_CASE
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
  web:
    resources:
      add-mappings: false
  devtools:
    restart:
      enabled: true
      additional-paths: src/main/kotlin, src/main/resources
logging:
  level:
    root: warn
    org.springframework: warn
    com.intezya.abysscore: info
#    org.hibernate.SQL: debug
#    org.hibernate.stat: debug
#    org.hibernate.type.descriptor.sql.BasicBinder: trace


jwt:
  secret: ${JWT_SECRET:}
  expirationMinutes: ${JWT_EXPIRATION_MINUTES:1440} # 1440
  issuer: ${JWT_ISSUER:com.intezya.abysscore.security}

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  writer-with-default-pretty-printer: true
  writer-with-order-by-keys: false

kafka:
  bootstrap:
    servers: ${KAFKA_HOST:localhost:9092}

minio:
  secret_key: ${MINIO_SECRET_KEY:CHANGEME}
  access_key: ${MINIO_ACCESS_KEY:CHANGEME}
  url: http://${MINIO_HOST:localhost}:${MINIO_PORT:9000}

abysscore:
  match-invite:
    active-diff-seconds: ${MATCH_INVITE_ACTIVE_DIFF_SECONDS:15}
